<div class="box box-danger" style="border-color:#605ca8;" ng-controller="eventModalCtrl">
  <div class="box-header with-border">
    <i class="fa fa-calendar"></i>
    <h3 class="box-title">Events</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body" ng-controller="eventsCtrl as event">
    <ul class="events-list event-list-in-box">
      <!-- Event item -->
      <li class="item" ng-repeat="event in filteredEvents">
        <a href="#" ng-click="displayEventDialog(event.pk)">
          <div class="event-date-box">
			  <div class="event-date">{{event.fields.startDateTime | date:'dd'}}</div>
			  <div class="event-month">{{event.fields.startDateTime | date:'MMM '}}</div>
          </div>
          <div class="event-info">
            <p class="event-title">{{event.fields.eventName}}</p>
            <p class="event-venue"><i class="fa fa-map-marker"></i> {{event.fields.venue}}</p>
          </div>
        </a>
      </li>
      <!-- END of event item -->
      
    </ul>
  </div><!-- /.box-body -->
  <!-- box-footer -->
  <div class="box-footer clearfix bg-purple">
    <button class="btn btn-sm btn-default" ng-click="createEventDialog()">Create Event</button>
	<pagination class="pagination-sm no-margin pull-right"
			 max-size="maxSize"
			 items-per-page="itemsPerPage"
			 total-items="totalItems" 
			 page="currentPage" 
			 ng-change="pageChanged()">
		</pagination>
  </div><!-- /.box-footer -->
</div><!-- /.box -->
