<div class="box box-widget box-nav-tabs" ng-controller="newsModalCtrl">
	<!-- box header -->
	<div class="box-header no-padding">
		<!-- Tabs within a box -->
		<ul class="nav nav-tabs" style="font-weight:bold;">
			<li class="active"><a href="#news" data-toggle="tab" aria-expanded="true"><i class="fa fa-newspaper-o"></i>&nbsp;
					News</a></li>
			<li><a href="#notice" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;
					Notices</a></li>
			<li class="box-tools pull-right">
				<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
			</li>
		</ul>
	</div>
	<!-- /.box-header -->
	
	<!-- box-body -->
	<div class="box-body tab-content">
		<!-- News panel -->
		<div class="tab-pane active" id="news" ng-controller="newsCtrl as newsfeed">
			<!-- News item -->
			<div class="attachment-block clearfix" ng-repeat="news in filteredNews">
				<img class="attachment-img" src="{{ news.fields.image }}" ng-show="news.fields.image" alt="attachment image">
				<img class="attachment-img" src="http://epaper2.mid-day.com/images/no_image_thumb.gif" ng-show="!news.fields.image" alt="attachment image">

					<div class="attachment-pushed">
						<span class="time pull-right text-muted" style="font-size:12px;"><i class="fa fa-clock-o"></i> {{news.fields.date}}</span>
						<h4 class="attachment-heading"><a href="#" ng-click="displayNewsDialog(news.pk)">{{news.fields.headline}}</a>
						</h4>
						
						<div class="attachment-text">
							{{news.fields.description}}
						</div>
						<!-- /.attachment-text -->
					</div>
					<!-- /.attachment-pushed -->
				</div>
				<!-- /.attachment-block -->
				<!-- END of news item -->
				
				<!-- box-footer -->
				<div class="box-footer clearfix bg-green" style="margin: 0px -10px -10px -10px;">
					<button class="btn btn-sm btn-default" ng-click="createNewsDialog()">Create News</button>
					<pagination class="pagination-sm no-margin pull-right"
				 max-size="maxSize"
				 items-per-page="itemsPerPage"
				 total-items="totalItems"
				 page="currentPage"
				 ng-change="pageChanged()">
						</pagination>
					</div>
					<!-- /.box-footer -->
				</div>
				<!-- END of news panel -->
				
				<!-- Notice panel -->
				<div class="tab-pane" id="notice" ng-controller="noticesCtrl as newsfeed">
					<ul class="list-unstyled">
						<!-- Notice item -->
						<li class="list-box" ng-repeat="notice in filteredNotices">
							<p class="list-box-body"><a href="{{notice.fields.fileLink}}" target="_blank">{{notice.fields.subject}}</a>
							</p>
							<span class="pull-right text-muted list-box-footer">{{notice.fields.issueDate | limitTo: 10}}</span>
						</li>
						<!-- END of notice item -->
					</ul>
					
					<!-- box-footer -->
					<div class="box-footer clearfix bg-green" style="margin: 0px -10px -10px -10px;">
						<!--button class="btn btn-sm btn-default" ng-click="createNewsDialog()">Create News</button-->
						<pagination class="pagination-sm no-margin pull-right"
				  max-size="maxSize"
				  items-per-page="itemsPerPage"
				  total-items="totalItems"
				  page="currentPage"
				  ng-change="pageChanged()">
							</pagination>
						</div>
						<!-- /.box-footer -->
					</div>
					<!-- END of notice panel -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			
			<script type="text/javascript">
				setTimeout(function(){
				$(".attachment-text").shorten({
				"showChars" : 250,
				"moreText"  : "more",
				"lessText"  : "[less]",
				});
				//console.log('success!');
				}, 1000);
				/*
				$(document).ready(function() {
				$(".attachment-text").shorten({
				"showChars" : 250,
				"moreText"  : "more",
				"lessText"  : "[less]",
				});
				});*/
			</script>
