<div class="box box-widget box-nav-tabs" ng-controller="newsCtrl as news">
  <!-- box header -->
  <div class="box-header no-padding">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs" style="font-weight:bold;">
      <li class="active"><a href="#news" data-toggle="tab" aria-expanded="true"><i class="fa fa-newspaper-o"></i>&nbsp; News</a></li>
      <li><a href="#notice" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp; Notices</a></li>
      <li class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </li>
    </ul>
  </div>
  <!-- /.box-header -->

  <!-- box-body -->
  <div class="box-body tab-content">
    <!-- News panel -->
    <div class="tab-pane active" id="news">
      <!-- News item -->
      <div class="attachment-block clearfix" ng-repeat="news1 in news.headlines">
        <img class="attachment-img" src="../../assets/dist/img/photo1.png" alt="attachment image">
        <div class="attachment-pushed">
          <span class="time pull-right text-muted" style="font-size:12px;"><i class="fa fa-clock-o"></i>{{news1.time}}</span>
          <h4 class="attachment-heading"><a href="http://www.lipsum.com/">{{news1.headline}}</a></h4>
          <div class="attachment-text">
            {{news1.description}}
          </div><!-- /.attachment-text -->
        </div><!-- /.attachment-pushed -->
      </div><!-- /.attachment-block -->
      <!-- END of news item -->
    </div>
    <!-- END of news panel -->

    <!-- Notice panel -->
    <div class="tab-pane" id="notice">
      <ul class="list-unstyled" ng-repeat="news2 in news.notices">
        <!-- Notice item -->
        <li class="list-box">
          <p class="list-box-body"><a href="#">{{news2.headline}}</a></p>
          <span class="pull-right text-muted list-box-footer">{{news2.date}}</span>
        </li>
        <!-- END of notice item -->
      </ul>
    </div>
    <!-- END of notice panel -->
  </div>
  <!-- /.box-body -->

  <!-- box-footer -->
  <div class="box-footer clearfix bg-green">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div><!-- /.box-footer -->

</div>
<!-- /.box -->

<script type="text/javascript">
  $(document).ready(function() {
    $(".attachment-text").shorten({
        "showChars" : 250,
        "moreText"  : "more",
        "lessText"  : "[less]",
    });
  });
</script>
