<div class="modal-header bg-green">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h3>Create a News</h3>
</div>
<form >
  <div class="modal-body row">
    <!-- News Headline -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>News Headline*</label>
      <input type="text" name="headline" class="form-control" ng-model="news.headline" required>

      <p ng-show="form.newsForm.headline.$invalid && !form.newsForm.headline.$pristine" class="help-block">News
        headline is required.</p>
    </div>

    <!-- News Description -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Description*</label>
      <textarea name="description" class="form-control" ng-model="news.description" ng-minlength="10" ng-maxlength="4000"
                required></textarea>

      <p ng-show="form.newsForm.description.$error.minlength  && !form.newsForm.description.$pristine"
         class="help-block">Enter a valid description.</p>

      <p ng-show="form.newsForm.description.$error.maxlength && !form.newsForm.description.$pristine"
         class="help-block">Description is too long.</p>
    </div>

    <!-- Link -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Source or Any Other Informational Link</label>
      <input type="url" name="link" class="form-control" ng-model="news.link">

      <p ng-show="form.newsForm.link.$invalid && !form.newsForm.link.$pristine" class="help-block">Enter a valid
        URL.</p>
    </div>

    <!-- Image -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Image</label>
      <input type="file" name="image" class="form-control" ng-model="news.image" valid-file>

      <p ng-show="form.newsForm.image.$invalid && !form.newsForm.image.$pristine" class="help-block">Select a valid
        image.</p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <p>*Required fields</p>
    </div>
    <!--eventName description image organisedBy startDateTime endDateTime website fbEvent venue-->
  </div>
  <div class="modal-footer bg-green">
    <button type="submit" class="btn btn-warning" ng-disabled="form.newsForm.$invalid">Submit</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>