<!-- About Me Box -->
<div class="box box-primary"">
	<div class="box-header with-border" ng-controller="aboutModalCtrl">
    <h3 class="box-title">About Me</h3>
    <!-- tools box -->
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" title="Edit" ng-click="editAboutDialog(details)" style="font-size:16px;"><i
              class="fa fa-edit"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body" ng-controller="fieldSkillCtrl">
    <strong><i class="fa fa-pencil margin-r-5"></i> Interest Fields</strong>
    <ul class="list-unstyled">
		<li class="label label-success" style="margin-right:5px;" ng-repeat="field in fields">{{ field.fields.fieldName }} &nbsp;</li>
    </ul>

    <hr>

    <strong><i class="fa fa-pencil margin-r-5"></i> Personal Skills</strong>
    <ul class="list-unstyled">
		<li class="label label-danger" style="margin-right:5px;" ng-repeat="skill in skills">{{ skill.fields.skillName }} &nbsp;</li>
    </ul>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
