<style>
  .list-group-item{
    display: inline-block;
    border-radius: 4px;
    margin: 5px 5px 5px 0;
  }
  #interest .close, #skill .close{
    margin-left: 5px;
  }
</style>

<div class="modal-header bg-light-blue">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h3>Edit Details</h3>
</div>
<form name="form.aboutForm" ng-submit="submitForm()" novalidate>
  <div class="modal-body row">
    <!-- Interest Fields -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Enter your interest fields</label>

      <div class="input-group">
        <input list="fields1" name="interest" class="form-control" ng-model="interest">
        <datalist id="fields1">
          <option value="Database"></option>
        </datalist>

        <div class="input-group-btn">
          <button type="button" ng-click="addField(interest)" class="btn btn-default">Add Interest</button>
        </div>
        <!-- /btn-group -->
      </div>
      <!-- /input-group -->

      <div style="margin-top:10px;">
        <ul class="list-group" id="interest">
          <li class="list-group-item" ng-hide="!ff" ng-repeat="field in fields">{{ field.fields.fieldName }}
			  <button type="button" ng-click="ff = false; delField(field.pk)" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          </li>
        </ul>
      </div>
    </div>

    <!-- Personal Skills -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Enter your personal skills</label>

      <div class="input-group">
        <input list="fields2" name="skill" class="form-control" ng-model="sk">
        <datalist id="fields2">
          <option value="Database"></option>
        </datalist>

        <div class="input-group-btn">
			<button type="button" ng-click="addSkill(sk)" class="btn btn-default">Add Skill</button>
        </div>
        <!-- /btn-group -->
      </div>
      <!-- /input-group -->

      <div style="margin-top:10px;">
        <ul class="list-group" id="skill">
          <li class="list-group-item" ng-hide="!fs" ng-repeat="skill in skills">{{ skill.fields.skillName }}
            <button type="button" ng-click="fs = false; delSkill(skill.pk)" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-light-blue">
    <button type="submit" class="btn btn-default" ng-disabled="form.projectForm.$invalid">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
