<style>
  .project-items .box, .project-items .box div{
  border: 0;
  }
  .project-items .box-footer{
  padding-top: 0;
  padding-bottom:0;
  }
</style>

<div class="box no-border no-padding no-margin no-shadow" ng-controller="projectModalCtrl">
  <div class="box-body no-border no-padding" ng-controller="projectCtrl"  >
    <ul class="list-group project-items">
      <li class="list-group-item no-padding">
        <div class="box no-padding no-margin">
          <div class="box-header with-border">
            <h4 class="box-title">Prevention of Insider Attacks and Fraudlent Transaction Detection System</h4>
            <!-- tools box -->
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-toggle="dropdown"><i class="fa fa-gear"></i></button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#" ng-click="editProjectDialog(project)">Edit project</a></li>
                <li><a href="#">Remove project</a></li>
              </ul>
            </div>
          </div>

          <div class="box-body">
            <p class="text-muted highlight">B. Tech. project under Ms. Indu Singh (Assistant Professor, CSE Dept.,
              DTU)</p>

            <p>Insider attacks are prevented and fraudlent transaction are detected using data mining tool, Weka.</p>
          </div>

          <div class="box-footer">
            <p class="text-muted pull-right date"><i class="fa fa-calendar"></i> Aug 2015 - Nov 2015</p>
          </div>
        </div>
      </li>
      <li class="list-group-item no-padding">
        <div class="box no-padding no-margin">
          <div class="box-header with-border">
            <h4 class="box-title">Prevention of Insider Attacks and Fraudlent Transaction Detection System</h4>
            <!-- tools box -->
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-toggle="dropdown"><i class="fa fa-gear"></i></button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#" ng-click="editProjectDialog(project)">Edit project</a></li>
                <li><a href="#">Remove project</a></li>
              </ul>
            </div>
          </div>

          <div class="box-body">
            <p class="text-muted highlight">B. Tech. project under Ms. Indu Singh (Assistant Professor, CSE Dept.,
              DTU)</p>

            <p>Insider attacks are prevented and fraudlent transaction are detected using data mining tool, Weka.</p>
          </div>

          <div class="box-footer">
            <p class="text-muted pull-right date"><i class="fa fa-calendar"></i> Aug 2015</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="box-footer no-border no-padding">
    <button class="btn btn-default pull-right" ng-click="addProjectDialog()"><i class="fa fa-plus"></i> Add Project</button>
  </div>
</div>
