<div class="ng-scope">
  <div class="modal-header bg-light-blue">
    <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{ news.fields.headline }}</h4>
  </div>
  <div class="modal-body">
    <img class="display-image" src="{{ news.fields.image }}" ng-show="news.fields.image">
    <p class="text-justify">{{ news.fields.description }}</p>
    <span ng-show="news.fields.link">Source: <a href="{{ news.fields.link }}" target="_blank">{{ news.fields.link }}</a></span>
  </div>
  <div class="modal-footer bg-light-blue">
    <button type="button" class="btn btn-default pull-right" ng-click="close()">Close</button>
    <!--button type="button" class="btn btn-primary">Save changes</button-->
  </div>
</div>

<style>
  .display-image{
    margin: 30px auto;
    display: block;
  }
</style>
<script src="../js/custom.js"></script>