<style type="text/css" rel="stylesheet">
  .table-custom{
  width:100%;
  }
  .table-custom td, .table-custom th{
  padding: 7px;
  }
  .alert-success-custom{
  background-color:#dff0d8;
  color:#3c763d;
  border-color:#d6e9c6;
  }
  .alert-info-custom{
  background-color:#d9edf7;
  color:#31708f;
  border-color:#bce8f1;
  }
  .alert-warning-custom{
  background-color:#fcf8e3;
  color:#8a6d3b;
  border-color:#faebcc;
  }
  .alert-danger-custom{
  background-color:#f2dede;
  color:#a94442;
  border-color:#ebccd1;
  }
</style>

<div class="nav-tabs-custom" ng-controller="assignmentPanelCtrl">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_1" data-toggle="tab">Assignments</a></li>
    <li><a href="#tab_2" data-toggle="tab">Assignment Evaluation</a></li>
    <li><a href="#tab_3" data-toggle="tab">Assignment Management</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active table-responsive" id="tab_1">
      <table class="table-custom table-bordered">
        <tr>
          <th class="text-center" style="width: 70px;">Assignment Code</th>
          <th class="text-center cell-header" style="width: 70px;">Course</th>
          <th class="text-center cell-header" style="width: 70px;">Group</th>
          <th class="text-center cell-header">Assignment</th>
          <th class="text-center cell-header" style="width: 70px;">Last Date for Submission</th>
          <th class="text-center cell-header">Comments or Notes</th>
        </tr>

        <tr ng-repeat="assignment in assignments">
          <td class="text-center">{{assignment.assignmentCode}}</td>
          <td class="text-center">{{assignment.course}}</td>
          <td class="text-center">{{assignment.group}}</td>
          <td><a href="{{assignment.link}}" target="_blank">{{assignment.link}}</a></td>
          <td class="text-center">{{assignment.deadline}}</td>
          <td>{{assignment.comments}}</td>
        </tr>
      </table>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane table-responsive" id="tab_2">
      <table class="table-custom table-bordered">
        <tr>
          <th class="text-center" style="width: 70px;">Assignment Code</th>
          <th class="text-center cell-header" style="width: 70px;">Course</th>
          <th class="text-center cell-header" style="width: 70px;">Group</th>
          <th class="text-center cell-header">Assignment</th>
          <th class="text-center" style="width: 70px;">No. of Submissions</th>
          <th class="text-center cell-header">Status</th>
          <th class="text-center cell-header">Evaluation</th>
        </tr>


        <tr ng-repeat="value in assignmentEvaluation">
          <td class="text-center">{{ value.assignmentCode }}</td>
          <td class="text-center">{{ value.course }}</td>
          <td class="text-center">{{ value.group }}</td>
          <td><a href="{{ value.link }}">{{ value.link }} </a></td>
          <td class="text-center">{{ value.submissionNum }}</td>
          <td>{{ value.status }}</td>
          <td class="text-center"><a href="edit-evaluation-sheet.html?assignment={{ value.assignmentCode }}"
                                     class="btn btn-sm btn-primary">Grade &nbsp;&nbsp;
            <i class="fa fa-arrow-circle-right"></i></a></td>
        </tr>
      </table>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_3">
      <create-assignment-form></create-assignment-form>
      <edit-assignment-form></edit-assignment-form>
      <delete-assignment-form></delete-assignment-form>
    </div>
    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div>